<h1>Brave Fantasia</h1>
<nav>
    <br>
    <br>
    <a href="/">Home</a>
    <a href="#" id="myBtn">Login</a>
    <a href="/registration">Register</a>
    <a href="/account">Account</a>
    <a href="/decklist">Deck</a>
    <a href="/battles">Quick Match</a>
    <a href="/lobby">Multiplayer</a>
    <a href="#">How to play</a>
    <a href="#">Contact Us</a>
    <a href="/logout">Logout</a>